	
	<%= content_tag :div, class: "card" do %>
		<div class="header">
			<div class="nav">
				<%= link_to 'X', card_path(card), method: :delete, remote: true %>
			</div>
				<%= content_tag :h3, card.title %>
		</div>
				<%= content_tag :p, card.body %>
	<% end %>
