<h1>Welcome to Cards!</h1>
<%= link_to 'add card', cards_path, method: :post, remote: true %><!--ajax request!-->

<!--sets up the basic card !-->
<div id="board">
<% @cards.each do |card| %>
	
<% end %>
</div><!--closes board!-->
