/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 .suform {
 	float: right;
 	margin-right: 150px;
 	clear: both;
 }
 .signinup {
 	float: left;
 	font-size: 3.5em;
 }
 
img {
 	margin-left: 30px;
 }
 a{
 	margin-left: 12px;
 }
body {
	background-color: OldLace;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	color: gray;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.0em;
	text-align: center;
	margin-top: 100px;
	color: gray;
}
/* medicines/new page*/
#new {
	margin-bottom: 100px;
}
#new_medicine {
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
}
#name, #number, #dose {
	float: left;
}
#time, #enter {
	float: left;
	clear: both;
}
.time {
	margin-left: 10px;
}
#done {
	margin-bottom: 120px;
	clear: both;
}
#reminder {
	width: 68px;
	margin-left: 12px;
}
input {

}
#medicine_reminder_time {
	float: left;
	clear: both;
}
hr {
	width: 80%;
}
table {
	margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    border-top: 3px solid gray;
    /*background-color: white;*/
    padding-left: 20px;
    text-align: left;
    height: 60px;

}
tr:hover {       
	background-color: #ffffff;
}

#formpro {
	display: inline;
}
.namepro {
	/*margin-left: -150px;*/
}
.timepro {
	margin-left: 8px;
}
#dosepro {
	
}
#enterpro {
	float: left;
}
#rule {
	margin-top: 30px;
	margin-bottom: 60px;
	clear: both;
}



